* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

img {
   display: block;
   max-width: 100%;
   -webkit-user-drag: none;
   -khtml-user-drag: none;
   -moz-user-drag: none;
   -o-user-drag: none;
}

.icon {
   color: #fff;
}

body {
   height: 100vh;
}

.container {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.dash {
   width: 100%;
   height: 100%;
   max-width: 1196px;
   max-height: 766px;
   display: flex;
   justify-content: space-between;
   background-color: #333;
   border-radius: 16px;
   padding: 15px 0;
   padding-right: 21px;
}

.dash .menu {
   margin: 0 auto;
   margin-top: 104px;
}

.dash .menu ul {
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.dash .menu ul li{
   display: flex;
   align-items: center;
   font-size: 16px;
   font-weight: 700;
   color: #fff;
   gap: 8px;
}

.dash .menu ul li .icon {
   width: 36px;
   height: 36px;
}

.dash > .dash_i {
   width: 100%;
   height: 100%;
   max-width: 1005px;
   max-height: 728px;
   background-color: #fff;
   border-radius: 16px;
   padding: 16px;
}

.dash > .dash_i input {
   width: 100%;
   height: 61px;
   max-width: 541px;
   padding: 16px;
   background-color: #ededed;
   font-size: 14px;
   font-weight: 700;
   border: none;
   border-radius: 16px;
}

.dash > .dash_i input::placeholder {
   color: #afafaf;
}

.dash > .dash_i > .dash_lf {
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.dash > .dash_i > .dash_lf > .city_selector {
   width: 100%;
   height: 78px;
   max-width: 541px;
   background-color: #ededed;
   padding: 16px;
   display: flex;
   gap: 16px;
   border-radius: 16px;
}

.dash > .dash_i > .dash_lf > .city_selector > button {
   background-color: #d5d5d5;
   border: none;
   padding: 6px 12px;
   font-size: 14px;
   font-weight: 700;
   border-radius: 8px;
   cursor: pointer;
}

.dash > .dash_i > .dash_lf > .time_weather {
   width: 100%;
   max-width: 541px;
   background-color: #ededed;
   border-radius: 16px;
}

.dash > .dash_i > .dash_lf > .time_weather > h2 {
   font-size: 16px;
   font-weight: 700;
   padding-left: 8px;
   padding-top: 8px;
}

.dash > .dash_i > .dash_lf > .time_weather > .times {
   display: flex;
   gap: 16px;
   overflow-x: auto;
   overflow-y: hidden;
   white-space: nowrap;
   user-select: none;
   scrollbar-width: none;
   padding: 16px;
}

.dash > .dash_i > .dash_lf > .time_weather > .times > .time {
   width: 100%;
   height: 100%;
   max-width: 138px;
   max-height: 153px;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   background-color: #d5d5d5;
   border-radius: 16px;
   gap: 8px;
}

.dash_lf > .time_weather > .times > .time > p{
   font-size: 14px;
   margin: auto;
}

.dash_lf > .time_weather > .times > .time > img{
   width: 54px;
   height: 54px;
   margin: auto;
}

.dash_lf > .weather_info{
   width: 100%;
   height: 100%;
   max-width: 541px;
   max-height: 291px;
   background-color: #ededed;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 24px;
   border-radius: 16px;
}

.dash_lf > .weather_info > .info_lf{
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.dash_lf > .weather_info > .info_lf h3{
   font-size: 32px;
   font-weight: 700;
}

.dash_lf > .weather_info > .info_lf > .info{
   display: flex;
   flex-direction: column;
   gap: 8px;
   font-weight: 700;
}

.dash_lf > .weather_info > .info_lf > .info > p{
   font-size: 16px;
}

.dash_lf > .weather_info > .info_lf > .info > p:first-child{
   font-size: 24px;
}

.dash_lf > .weather_info > .info_rt > .weather_img{

}
